<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated survey -->
      <package
            uri="platform:/resource/dk.itu.smdp.survey/model/SurveyModel.ecore"
            class="SurveyModel.SurveyModelPackage"
            genModel="model/survey.genmodel"/>
   </extension>

</plugin>
